<mat-card class="card">
    <mat-card-content>
        <div>
            <h1 style="text-align: center;"><b>Add Employee Form</b></h1>
        </div>
        <form [formGroup]="addEmpForm" (ngSubmit)="addEmployee()" id="myForm">
            <div class="contain">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="fname">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lname">
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="email" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password">
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Emp Id</mat-label>
                            <input type="number" matInput formControlName="empid" readonly style="font-weight: bold;">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phone" type="text">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Record Created On</mat-label>
                            <input matInput type="datetime-local" formControlName="record" style="font-weight: bold;">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-form-field">
                            <mat-label>Joining Date</mat-label>
                            <input inputmode="numeric" matInput [matDatepicker]="datepicker" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-radio-group aria-label="Select an option" formControlName="role">
                            <mat-label style="margin-top: 5px;"><b>Role</b></mat-label>
                            <mat-radio-button value="Editor">Editor</mat-radio-button>
                            <mat-radio-button value="Admin">Admin</mat-radio-button>
                            <mat-radio-button value="Viewer">Viewer </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        <input type="file" (change)="onFileSelected($event)">
                    </div>
                </div>
                <div style="margin-top: 2%;">
                    <div formArrayName="family">
                        <h3><b>Add Family Members</b></h3>
                        <div class="family-member" *ngFor="let quantity of family().controls; let i=index"
                            [formGroupName]="i">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Occupation</mat-label>
                                        <input matInput formControlName="occupation">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Age</mat-label>
                                        <input type="number" matInput formControlName="age">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" id="add-family-member" type="button"
                        (click)="addFamily()">+</button>
                </div>
            </div>
            <br>
            <button type="submit" mat-raised-button color="primary" style="width: 100%;"
                [disabled]="!addEmpForm.valid">Add
                Employee</button>
        </form>
    </mat-card-content>
</mat-card>